{% extends "base.html" %}
{% block content_title %}{% endblock %}     
{% block content %}
<div id="contents">
	{% for article in articles_page.object_list %}        
    <div class="post type-post status-publish format-standard hentry category-general" id="post">
    	<div class="entry-meta">
    		<div class="date"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.locale_date }}</a></div>
    		{% if article.author and not SINGLE_AUTHOR %}
    		<span class="byline">By <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></span>
    		{% endif %}
			{% if DISPLAY_CATEGORIES_ON_MENU %}
				<span class="cat-links"><a href="{{ article.category.url }}" title="View all posts in {{ article.category }}" rel="category tag">{{ article.category }}</a></span>
			{% endif %}
    	</div> <!-- /#entry-meta -->
    	<div class="main">
    		<h2 class="entry-title">
    			<a href="{{ article.url }}" title="Permalink to {{ article.title|striptags }}" rel="bookmark">{{ article.title }}</a>
    		</h2>
    		<div class="entry-content">
    			{{ article.content }}
    		</div> <!--/#entry-content-->
    	</div> <!--/#main-->
    </div>  <!--/#post-->
    {% endfor %}
</div><!-- /#contents -->
{% include 'pagination.html' %}
{% endblock content %}
